app:
  build: .
  dockerfile: 'DockerfileDev'
  volumes:
    - '.:/home/app/src'
  environment:
    PORT: 8080
    FORCE_COLOR: 1
    AWS_ACCESS_KEY_ID:
    AWS_BUCKET:
    AWS_SECRET_ACCESS_KEY:
    S3_HOST:
    PUBLIC:
    FOLDER:
    UPLOAD_SIZE_MB:
  ports:
    - '8080:8080'

clientkit:
  build: './clientkit'
  command: 'dev'
  environment:
    FORCE_COLOR: 1
  volumes:
    - './clientkit:/app/clientkit'
    - './public/_dist:/app/dist'
    - './views:/app/assets'
