body {
  font-family: Arial;
  padding: 0;
  margin: 0;
}
.dropzone {
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.upload-single {
  overflow: hidden;

  & .default-image {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 58 58' style='enable-background:new 0 0 58 58;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon style='fill:%23EFEBDE;' points='46.5,14 32.5,0 1.5,0 1.5,58 46.5,58 '/%3E%3Cg%3E%3Cpath style='fill:%23D5D0BB;' d='M11.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S10.948,23,11.5,23z'/%3E%3Cpath style='fill:%23D5D0BB;' d='M11.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S10.948,15,11.5,15z'/%3E%3Cpath style='fill:%23D5D0BB;' d='M36.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S37.052,29,36.5,29z'/%3E%3Cpath style='fill:%23D5D0BB;' d='M36.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S37.052,37,36.5,37z'/%3E%3Cpath style='fill:%23D5D0BB;' d='M36.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S37.052,45,36.5,45z'/%3E%3C/g%3E%3Cpolygon style='fill:%23D5D0BB;' points='32.5,0 32.5,14 46.5,14 '/%3E%3C/g%3E%3Cg%3E%3Ccircle style='fill:%2326B999;' cx='44.5' cy='46' r='12'/%3E%3Cpath style='fill:%23FFFFFF;' d='M51.071,40.179c-0.455-0.316-1.077-0.204-1.392,0.25l-5.596,8.04l-3.949-3.242 c-0.426-0.351-1.057-0.288-1.407,0.139c-0.351,0.427-0.289,1.057,0.139,1.407l4.786,3.929c0.18,0.147,0.404,0.227,0.634,0.227 c0.045,0,0.091-0.003,0.137-0.009c0.276-0.039,0.524-0.19,0.684-0.419l6.214-8.929C51.636,41.118,51.524,40.495,51.071,40.179z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  }

  & form.dropzone {
    & .dz-message span {
      display: table-cell;
      vertical-align: middle;
      width: 100vw;
      height: 100vh;
      line-height: 1.4em;
    }
  }

  & #results {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    width: 100vw;
    height: 100vh;
  }

  & .clear {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 0px;
  }
  & .status-container {
    width: 70%;
    margin: 0 auto;
    margin-top: calc(50vh - 25px);
    display:none;
    font-size: calc(1em + 1vh);
    text-align: center;
    margin-bottom: 8px;
  }
  & .progress {
    width: 50%;
    height: 0.75em;
    margin: 0 auto;
    display: none;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.5em;
    & .bar {
      background-color: #333;
      height: 100%;
    }
  }
}

.upload-multi {

  & #results {
    & .image-container {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
    & .image {
      background-size: contain;
      background-repeat: no-repeat;
      height: 200px;
    }
    & input {
      width: 100%;
    }
  }

}
