body {
  font-family: Arial;
  padding: 0;
  margin: 0;
}
.dropzone {
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.upload-single {
  overflow: hidden;

  & form.dropzone {
    & .dz-message span {
      display: table-cell;
      vertical-align: middle;
      width: 100vw;
      height: 100vh;
      line-height: 1.4em;
    }
  }

  & #results {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    width: 100vw;
    height: 100vh;
  }

  & .clear {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 0px;
  }
  & .status-container {
    width: 70%;
    margin: 0 auto;
    margin-top: calc(50vh - 25px);
    display:none;
    font-size: calc(1em + 1vh);
    text-align: center;
    margin-bottom: 8px;
  }
  & .progress {
    width: 50%;
    height: 0.75em;
    margin: 0 auto;
    display: none;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.5em;
    & .bar {
      background-color: #333;
      height: 100%;
    }
  }
}

.upload-multi {

  & #results {
    & .image-container {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
    & .image {
      background-size: contain;
      background-repeat: no-repeat;
      height: 200px;
    }
    & input {
      width: 100%;
    }
  }

}
