<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MicroMedia Upload Single</title>
    <link rel="stylesheet" href="/ui/common.css"/>
  </head>
  <body class="upload-single">
    <button class="clear" id="clear">&times;</button>
    <form id="uploader" action="/api/upload?{{ options }}" class="dropzone"></form>
    <div class="progress" id="progress"><div class="bar"></div></div>
    <div id="results"></div>
    <script src="/ui/single.js"></script>
  </body>
</html>
