<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MicroMedia Upload Single</title>
    <link rel="stylesheet" href="/ui/common.css"/>
    <style>
      {% if barColor %}
      .upload-single .progress .bar { background-color: {{ barColor }}; }
      {% endif %}
      {% if bgColor %}
      body { background-color: {{ bgColor }}; }
      {% endif %}
    </style>
  </head>
  <body class="upload-single">
    <button class="clear" id="clear">&times;</button>
    <form id="uploader" action="/api/upload?{{ options }}" class="dropzone"></form>
    <div class="status-container" id="status">Uploading...</div>
    <div class="progress" id="progress"><div class="bar"></div></div>
    <div id="results"></div>
    <script type="text/javascript">
      window.uploaderSetup = {
        fileTypes: '{{ allowedFiles }}',
        {% if defaultImage -%}
        defaultImage: '{{ defaultImage }}',
        {%- endif %}
        {% if inputId -%}
        inputId: '{{ inputId }}',
        {%- endif %}
      };
    </script>
    <script src="/ui/single.js"></script>
  </body>
</html>
